body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #000; /* Black background */
    margin: 0;
    padding: 20px;
    color: #fff;            /* White text so you can see it! */
}

h1 {
    color: #FDB927;         /* Lakers Gold */
}